spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finance
    username: finance
    password: financepass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

ollama:
  endpoint: http://localhost:11434/api/generate
  model: llama3.1:latest